/* global */
.medialist .notes:before, .medialist .repeat:before {
    width: max-content;
    max-width: 67.5%;
}
.list-head>div {
    color: rgb(var(--color-blue));
    font-weight: bold;
    font-style: italic;
}
.title > :not(.notes) {
    font-style: italic;
}
.medialist .release-status.RELEASING {
    background: rgb(var(--color-blue-dim));
    box-shadow: 0 0 5px rgb(var(--color-blue));
}
.user .about > div.content-wrap {
    scrollbar-width: none;
}
.medialist .filter-group:first-child span.count {
    color: rgb(var(--color-blue));
    font-weight: 500
}
.list-editor-wrap .list-editor .body .delete-btn {
    background: rgb(var(--color-blue-dim));
}
.list-wrap .repeat, .medialist.table.compact .entry .title::before {
    color: color-mix(in srgb,rgb(var(--color-blue)) 70%, rgb(var(--color-text)));
}
.el-slider__button {
    background-color: rgb(var(--color-blue)) !important;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: rgba(40, 40, 40, 0.5) !important;
    background: rgba(40, 40, 40, 0.5) !important;
}
/*--- List Grid View Adjustments ---*/
.medialist.cards .list-section {
    background: unset !important;
}
.medialist.cards .entry-card .notes:before {
    min-width: 35vw;
}
.medialist.cards .entry-card:nth-child(5n) .notes:before {
  left: auto;
  right: 100%;
  transform: translateX(-10px);
}
.medialist.cards .entry-card .title {
    background: rgba(var(--color-overlay), .7);;
    backdrop-filter: blur(3px);
    border-radius: 0 0 3px 3px;
    transition: all 0.2s ease-in-out;
}
.medialist.cards .entry-card:hover .title {
    background: rgba(var(--color-overlay), .9);;
    backdrop-filter: blur(9px);
}
.medialist.cards .entry-card .image {
    background-size: 100% !important;
    transition: all 0.2s ease-in-out;
    border-radius: 4px !important;
}
.medialist.cards .entry-card:hover .image {
    background-size: 110% !important;
    box-shadow: 0px 0px 6px 3px color-mix(in srgb, rgb(var(--color-blue)) 45%, rgb(var(--color-text)));
}
.medialist.cards .entry-card .progress, .medialist.cards .entry-card .score {
    color: color-mix(in srgb,rgb(var(--color-blue)) 60%, rgb(var(--color-text)));
}
.medialist.cards .entry-card .edit {
    background: rgba(var(--color-overlay), .7);
    transition: all 0.2s ease-in-out;
}
.medialist.cards .entry-card .edit:hover {
    background: rgba(var(--color-overlay), .85);
    backdrop-filter: blur(3px);
}

/* anime */
.list-wrap:has(a:is(a[href*="anime/154122"])) {
    display: none;
}
.list-wrap:has(a:is(a[href*="anime/1269"])) {
    display: none;
}
div.user:has(a.router-link-active[href="/user/pseudo/animelist"]) div.filters.mobile-nav-hidden > div:nth-child(1) > span:nth-child(16) > span, div.user:has(a.router-link-active[href="/user/pseudo/animelist"]) div.filters.mobile-nav-hidden > div:nth-child(1) > span:nth-child(23) > span {
    display: none !important;
}
div.user:has(a.router-link-active[href="/user/pseudo/animelist"]) div.filters-wrap > div.filters.mobile-nav-hidden > div:nth-child(1) > span:nth-child(16), div.user:has(a.router-link-active[href="/user/pseudo/animelist"]) div.filters-wrap > div.filters.mobile-nav-hidden > div:nth-child(1) > span:nth-child(23) {
    color: rgb(var(--color-blue));
    pointer-events: none !important;
    text-align: center;
}

/* manga */
div.user:has(a.router-link-active[href="/user/pseudo/mangalist"]) div.filters-wrap > div.filters.mobile-nav-hidden > div:nth-child(1) > span:nth-child(11) > span {
    display: none !important;
}
div.user:has(a.router-link-active[href="/user/pseudo/mangalist"]) div.filters-wrap > div.filters.mobile-nav-hidden > div:nth-child(1) > span:nth-child(11) {
    color: rgb(var(--color-blue));
    pointer-events: none !important;
    text-align: center;
}
