div.desktop:nth-child(3) {
    display: none;
}
.tooltip .title {
    text-transform: lowercase;
}
.tooltip .content:has(.circle) {
    display: block;
    text-transform: lowercase;
}
body:has(.content > .overview, .favourites .favourites) .tooltip .content {
    display: none;
}
.tooltip .title {
    text-transform: lowercase;
}
body:has(.content > .overview, .favourites .favourites) .tooltip .content:has(.circle) {
    display: block;
    text-transform: lowercase;
}
.history-day:hover {
    transition: transform 0.125s ease-in-out;
    transform: scale(1.15);
}
