:root,
.site-theme-dark,
.site-theme-contrast {
    --border-radius: 10px;
    /* global border radius */
    --padding-v: 30px;
    /* vertical content padding */
    --padding-h: 30px;
    /* horizontal content padding */
    --brt: var(--border-radius) var(--border-radius) 0 0;
    --brb: 0 0 var(--border-radius) var(--border-radius);
    --pdh: var(--padding-v) var(--padding-h);
}

/*--- container ---*/
.header-wrap > .nav-wrap {
    max-width: 1240px !important;
    margin: 0 auto;
    border-radius: var(--brt);
    position: relative;
}
.content.container {
    background: rgba(20, 20, 20, 0.75) !important;
    padding: var(--pdh);
    border-radius: var(--brb);
}
.content.container:not(:has(.el-dialog__wrapper)) {
    backdrop-filter: blur(8px);
}
.content > .overview,
.content > .medialist,
.favourites,
.content > .stats,
.content > .user-social,
.content .review-wrap,
.content .submissions {
    margin-top: 0 !important;
}

.container > .activity-entry .wrap,
.container > .activity-entry .reply,
.container > .activity-entry .markdown-editor,
.container > .activity-entry .el-textarea__inner {
    background: rgba(10, 10, 10, 0.9) !important;
}
.container > .activity-entry .wrap:not(:has(.el-dialog__wrapper)),
.container > .activity-entry .reply:not(:has(.el-dialog__wrapper)),
.container > .activity-entry .markdown-editor:not(:has(.el-dialog__wrapper)),
.container > .activity-entry .el-textarea__inner:not(:has(.el-dialog__wrapper)) {
    backdrop-filter: blur(6px);
}
