.overview .section:first-child .section-header {
    text-transform: lowercase;
}
.overview .section-header {
    text-transform: lowercase;
    font-weight: 700
}
.overview .section:first-child .section-header {
    text-align: center;
    justify-content: center;
    font-style: italic;
}
.favourites.preview .favourites-wrap.studios[data-v-ddf96a3c] {
    text-align: center;
    margin-top: -5px;
}
.tooltip .title, .favourites .favourites > .tooltip .title {
    padding-right: 12px !important;
}
a.favourite {
    margin-bottom: 32px !important;
    z-index: 5;
}
.favourites .favourites .favourite {
    margin-bottom: initial !important;
}
a.favourite:hover {
    z-index: 3;
}
.delete {
    z-index: 6 !important;
}
.favourite.studio {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}
a.favourite::after {
    font-size: 11px;
    position: absolute;
    top: 0px;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    width: 100%;
    background: rgba(var(--color-overlay), 0.65);
    padding: 4px;
    color: white;
    user-select: all;
    opacity: 0;
    transition: opacity ease-in-out 0.15s;
}
a.favourite:hover::after {
    opacity: 1;
    transition-delay: 0s;
}

.favourites .favourites .section-header {
    visibility: hidden;
}
.overview div.favourites h2:not(.favourites:nth-child(4) > h2:nth-child(1)) {
    margin-top: -30px;
}
.overview div.favourites:nth-child(4) > h2:nth-child(1)::after, .overview div.favourites:nth-child(5) > h2:nth-child(1)::after, .overview div.favourites:nth-child(6) > h2:nth-child(1)::after, .overview div.favourites:nth-child(7) > h2:nth-child(1)::after {
    margin-bottom: -15px;
}
.favourites.preview .favourites-wrap:not(.favourites.preview .favourites-wrap.studios) {
    display: grid !important;
    grid-gap: 12px !important;
    column-gap: 12px !important;
    grid-template-columns: repeat(4, 85px) !important;
    grid-template-rows: unset !important;  
    grid-auto-rows: minmax(120px, auto) !important; 
    padding: 0 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-bottom: 35px !important;
    background: unset !important;
    justify-content: center;
    width: 408px !important;
}

.favourites.preview a.favourite {
    filter: saturate(80%);
    transition: all 0.2s ease-in-out;
    background-size: 100% !important;
}

.favourites.preview a.favourite:hover {
    box-shadow: 0px 0px 6px 3px color-mix(in srgb, rgb(var(--color-blue)) 45%, rgb(var(--color-text)));
    background-size: 108% !important;
    filter: saturate(125%);
}

.favourites.preview .favourites-wrap a.favourite:not(.favourites.preview .favourites-wrap.studios a.favourite) {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    min-height: 60px;
}

.favourites.preview .favourites-wrap.studios {
    background: unset !important;
}
.overview div.favourites:nth-child(3) > h2:nth-child(1), .favourites .favourites:nth-child(1) .section-header, .favourites .favourites:nth-child(2) .section-header, .favourites .favourites:nth-child(3) .section-header, .favourites .favourites:nth-child(4) .section-header, .favourites .favourites:nth-child(5) .section-header {
    position: relative !important;
    visibility: hidden !important;
}
.overview div.favourites:nth-child(4) > h2:nth-child(1) {
    position: relative;
    visibility: hidden;
}
.overview div.favourites:nth-child(4) > h2:nth-child(1)::after, .favourites .favourites:nth-child(1) .section-header::after {
    content: "anime (ordered, looser the further down you go)";
    font-style: italic;
    position: absolute;
    visibility: visible;
    text-transform: lowercase;
}
.overview div.favourites:nth-child(5) > h2:nth-child(1) {
    position: relative;
    visibility: hidden;
}
.overview div.favourites:nth-child(5) > h2:nth-child(1)::after, .favourites .favourites:nth-child(2) .section-header::after {
    content: "manga (ordered)";
    font-style: italic;
    position: absolute;
    visibility: visible;
    text-transform: lowercase;
}
.overview div.favourites:nth-child(6) > h2:nth-child(1) {
    position: relative;
    visibility: hidden;
}
.overview div.favourites:nth-child(6) > h2:nth-child(1)::after, .favourites .favourites:nth-child(3) .section-header::after {
    content: "characters (very loosely ordered)";
    font-style: italic;
    position: absolute;
    visibility: visible;
    text-transform: lowercase;
}
.overview div.favourites:nth-child(7) > h2:nth-child(1) {
    position: relative;
    visibility: hidden;
}
.overview div.favourites:nth-child(7) > h2:nth-child(1)::after, .favourites .favourites:nth-child(4) .section-header::after {
    content: "staff (unordered, loosely grouped by role)";
    font-style: italic;
    position: absolute;
    visibility: visible;
    text-transform: lowercase;
}
.overview div.favourites:nth-child(8) > h2:nth-child(1) {
    position: relative;
    visibility: hidden;
}
.overview div.favourites:nth-child(8) > h2:nth-child(1)::after, .favourites .favourites:nth-child(5) .section-header::after {
    content: "studios (ordered)";
    font-style: italic;
    position: absolute;
    visibility: visible;
    text-transform: lowercase;
}
