.home .activity-feed-wrap .section-header .el-dropdown-menu__item, .user .activity-feed-wrap .section-header .el-dropdown-menu__item {
    background: none !important;
}
.activity-feed .list.small .cover {
    background-size: 100% !important;
    filter: saturate(80%);
}
.activity-feed .activity-entry:has(.small):hover * .cover {
    background-size: 110% !important;
    filter: saturate(125%);
}
.activity-feed .activity-entry:has(.small):hover * .title {
    color: color-mix(in srgb,rgb(var(--color-blue)) 65%, rgb(var(--color-text)));
}
/* Activity Feed Dropdown Stuff - most credit for this is to @Sekuji */
.list.small .entry-dropdown[data-v-04d66030] {
    border-radius: 0 0 0 0;
    height: 15px;
    width: 50px;
}
.entry-dropdown[data-v-04d66030]:hover {
    transform: scale(1) !important;
    background: rgba(var(--color-overlay),.7);
    transition: .1s;
    height: 30% !important;
}
.entry-dropdown .el-dropdown-link[data-v-04d66030] {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%;
}
.activity-feed .activity-entry:has(.small):hover:not(:has(.cover:hover)) .entry-dropdown[data-v-04d66030] {
    opacity: 0;
    pointer-events: none;
}
.activity-feed .activity-entry:has(.small):hover:not(:has(.cover:hover)) .entry-dropdown[data-v-04d66030]:hover {
    opacity: 1 !important;
    pointer-events: auto !important;
}
