.quick-search > .results > :nth-child(6) {
    text-transform: initial !important;
}
.quick-search[data-v-17620a08] {
    transition: opacity .2s ease;
    background: rgba(15, 15, 15, 0.85);
    backdrop-filter: blur(8px) !important;
}
.input[data-v-17620a08] {
    transition: .2s ease;
}
.quick-search.visible .input:hover {
    transition: transform 0.125s ease-in-out;
    transform: scale(1.025);
}
[data-v-17620a08] .result .open-list-editor {
    color: rgb(220, 220, 220);
    background: rgba(200, 200, 200, 0.5);
    transition: all 0.2s ease-in-out;
}
[data-v-17620a08] .result .open-list-editor:hover {
    color: rgb(255, 255, 255);
    background: rgba(160, 160, 160, 0.5);
}
