.review-card .header {
    font-weight: bold !important;
}
.user .review-card:hover .banner[data-src*="/media/anime/"] + .content > .header {
    color: rgb(var(--color-blue));
    transition: ease-in-out .25s;
}
.banner .read-review[data-v-0369a0cf] {
    transition: ease-in-out .2s;
    backdrop-filter: blur(2px);
}
.review-card svg:not(:root).svg-inline--fa {
    color: rgb(var(--color-blue));
}
.review-card .content {
    text-align: center;
}
