.stats-wrap .footer {
    background: unset !important;
}
.stats-wrap[data-v-815ccddc] {
    padding-bottom: 11.7px
}

.stats-wrap .stat:first-child .value {
    font-size: 2rem;
}
.stats-wrap .stat:nth-child(2) .value {
    font-size: 2rem;
    color: color-mix(
    in srgb,
    rgb(var(--color-blue)) 95%,
    rgb(var(--color-text))
    );
}
.stats-wrap .stat:nth-child(3) .value {
    font-size: 2rem;
    color: color-mix(
    in srgb,
    rgb(var(--color-blue)) 90%,
    rgb(var(--color-text))
    );
}
.stats-wrap .stat:first-child .label,
.stats-wrap .stat:nth-child(2) .label,
.stats-wrap .stat:nth-child(3) .label {
    font-size: 0.95rem;
}

.user.user-page-unscoped .progress .bar:after {
    background: linear-gradient(270deg, hsla(203, 9%, 34%, 1), hsla(203, 9%, 29%, 0.8))
}
