.body,
.activity-feed .details .hohScore {
    background: rgba(20, 20, 20, 0.6) !important;
}
.markdown-editor,
.el-textarea textarea,
.list-section,
.lists .theme-switch,
.filter-group .active,
.filters-wrap input,
.el-slider__runway,
.load-more,
.favourites .favourites .favourites-wrap,
.overview .favourites .favourites-wrap,
.stats .circle,
.stats .switch,
.stats .bar-chart-wrap,
.stats .pie-chart,
.stats .line-chart-wrap,
.filter-group .router-link-active,
.ps-container.horizontal-scroller,
.stats .stat-card,
.hohTable,
.hohTable .header,
.hohThemeSwitch,
.review-card,
.el-input__inner,
.genre-overview.content-wrap,
.activity-history.content-wrap,
.content-wrap,
.footer,
.activity-feed-wrap .wrap,
.activity-feed-wrap .reply,
.el-input,
.comment-wrap.depth-0.even,
.thread-card,
.activity-feed-wrap blockquote,
.comment blockquote,
.markdown-spoiler::before,
.markdown-spoiler.spoiler-visible span,
.embed,
.container > .activity-entry blockquote,
.input,
.stats-wrap .progress,
.hohActive,
.submissions-page .submission {
    background: rgba(10, 10, 10, 0.65) !important;
}
.el-dialog__wrapper,
.el-dialog__body,
.el-message-box__wrapper {
    backdrop-filter: blur(8px) !important;
}

.stats .x-axis,
.pie-chart .pie-chart,
.stats .stat-card .relations-wrap,
.el-dropdown-menu.el-popper.el-dropdown-menu--small .el-dropdown-menu__item,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium .el-dropdown-menu__item,
.el-textarea,
.activity-feed .time,
.container .time,
.thread-card > .footer,
.list-section .progress,
div.filter-group
div.el-select.format.el-select--small
div.el-select__tags
input.el-select__input.is-small {
    background: unset !important;
}
.button.cancel, el-tooltip.el-slider__button {
    background: rgb(20, 20, 20) !important;
}
.el-select-dropdown, .el-dropdown-menu:not(h2 ul), .el-dropdown-menu__item:not(h2 li) {
    background: rgba(20, 20, 20) !important;
}
.el-select-dropdown.el-popper, .el-picker-panel.el-date-picker.el-popper {
    background-color: rgba(10, 10, 10, 0.8) !important;
    backdrop-filter: blur(6px);
}
.el-select-dropdown__item.hover {
    background: rgba(40, 40, 40, 0.5) !important;
}
.el-dropdown-menu__item.el-dropdown-menu__item--divided::before {
    display: none !important;
}
.el-picker-panel.el-date-picker.el-popper {
    border-color: rgba(0,0,0,0) !important;
    background: rgba(20, 20, 20, 0.9) !important;
}
body {
    background-color: black;
}

/*--- container ---*/
.header-wrap > .nav-wrap {
    max-width: 1240px !important;
    margin: 0 auto;
    border-radius: var(--brt);
    position: relative;
}
.content.container {
    background: rgba(20, 20, 20, 0.75) !important;
    padding: var(--pdh);
    border-radius: var(--brb);
}
.content.container:not(:has(.el-dialog__wrapper)) {
    backdrop-filter: blur(8px);
}
.content > .overview,
.content > .medialist,
.favourites,
.content > .stats,
.content > .user-social,
.content .review-wrap,
.content .submissions {
    margin-top: 0 !important;
}
