/*--- 20, 20, 20 stuff ---*/
.el-dialog__body,
.el-message-box {
    background: rgba(20, 20, 20, 0.9) !important;
}

/*--- Popper Arrows ---*/
.el-tooltip__popper {
    background: rgb(20, 20, 20) !important;
}
.el-tooltip__popper[x-placement^="top"] .popper__arrow,
.el-tooltip__popper[x-placement^="top"] .popper__arrow::after {
    border-top-color: rgba(10, 10, 10, 0.8) !important;
}
.el-tooltip__popper[x-placement^="bottom"] .popper__arrow,
.el-tooltip__popper[x-placement^="bottom"] .popper__arrow::after {
    border-bottom-color: rgba(10, 10, 10, 0.8) !important;
}
.el-popper[x-placement^="top"] .popper__arrow,
.el-popper[x-placement^="top"] .popper__arrow::after{
    border-top-color: rgba(10, 10, 10, 0.8) !important;
}
.el-popper[x-placement^="bottom"] .popper__arrow,
.el-popper[x-placement^="bottom"] .popper__arrow::after{
    border-bottom-color: rgba(10, 10, 10, 0.8) !important;
}
.el-dropdown-menu.el-popper.el-dropdown-menu--small,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium,
.result-col {
    background: rgba(20, 20, 20, 0.9) !important;
}
.el-dropdown-menu.el-popper.el-dropdown-menu--small .el-dropdown-menu__item:hover,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium .el-dropdown-menu__item:hover,
.result:hover {
    background: rgba(70, 70, 70, 0.3) !important;
    transition: 0.2s ease-in-out;
}
.el-dropdown-menu[x-placement^="top"] .popper__arrow {
    border-top-color: rgb(20, 20, 20, 0.8) !important;
}
.el-dropdown-menu[x-placement^="bottom"] .popper__arrow {
    border-bottom-color: rgb(20, 20, 20, 0.8) !important;
}
.el-dropdown-menu[x-placement^="top"] .popper__arrow::after,
.el-dropdown-menu[x-placement^="bottom"] .popper__arrow::after {
    visibility: hidden !important;
}

/*--- Errant/One-off Element Styling ---*/
.ps-container.horizontal-scroller .area {
    fill: rgba(var(--color-blue), 0.85) !important;
}
.follow-card {
    background: unset !important;
}
.users {
    background: rgba(10, 10, 10, 0.35) !important;
}
